.accordion-button.custom-font {
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
}
.accordion-button:not(.collapsed) {
  color: #007bff;
  background-color: #e9ecef;
}
.accordion-body {
  font-size: 1rem;
  line-height: 1.6;
}
body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden !important;
  font-size: 15px;
  color: #24272c;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
}
::selection {
  background: #2f333a;
  color: #fff;
}
a {
  text-decoration: none !important;
}
p {
  line-height: 1.6;
}
.section {
  padding: 100px 0;
  position: relative;
}
@media (max-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
.title-heading .heading {
  font-size: 42px !important;
  letter-spacing: 0.2px;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .title-heading .heading {
    font-size: 34px !important;
  }
}
.title-heading .para-desc {
  font-size: 17px;
  letter-spacing: 0.5px;
}
@media (max-width: 768px) {
  .title-heading .para-desc {
    font-size: 16px;
  }
}
.section-title {
  position: relative;
}
.section-title .title {
  letter-spacing: 0.5px;
  font-size: 28px !important;
}
@media (max-width: 768px) {
  .section-title .title {
    font-size: 24px !important;
  }
}
.para-desc {
  max-width: 600px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-60 {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .mt-60 {
    margin-top: 60px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1140px !important;
  }
}
.row > * {
  position: relative;
}
.fs-1,
.h1,
h1 {
  font-size: 42px !important;
}
.fs-2,
.h2,
h2 {
  font-size: 36px !important;
}
.fs-3,
.h3,
h3 {
  font-size: 30px !important;
}
.fs-4,
.h4,
h4 {
  font-size: 24px !important;
}
.fs-5,
.h5,
h5 {
  font-size: 18px !important;
}
.fs-6,
.h6,
h6 {
  font-size: 15px !important;
}
.bg-primary {
  background-color: #f69da1 !important;
}
.bg-soft-primary {
  background-color: rgba(255, 87, 20, 0.05) !important;
}
.text-primary {
  color: #f69da1 !important;
}
a.text-primary:focus,
a.text-primary:hover {
  color: #fa4700 !important;
}
.bg-dark {
  background-color: #24272c !important;
}
.bg-soft-dark {
  background-color: rgba(36, 39, 44, 0.05) !important;
}
.text-dark {
  color: #24272c !important;
}
a.text-dark:focus,
a.text-dark:hover {
  color: #191b1e !important;
}
.bg-muted {
  background-color: #8492a6 !important;
}
.bg-soft-muted {
  background-color: rgba(132, 146, 166, 0.05) !important;
}
.text-muted {
  color: #8492a6 !important;
}
a.text-muted:focus,
a.text-muted:hover {
  color: #75859b !important;
}
.bg-light {
  background-color: #f8f9fc !important;
}
.bg-soft-light {
  background-color: rgba(248, 249, 252, 0.05) !important;
}
.text-light {
  color: #f8f9fc !important;
}
a.text-light:focus,
a.text-light:hover {
  color: #e6eaf4 !important;
}
.bg-footer {
  background-color: #202942 !important;
}
.bg-soft-footer {
  background-color: rgba(32, 41, 66, 0.05) !important;
}
.text-footer {
  color: #202942 !important;
}
a.text-footer:focus,
a.text-footer:hover {
  color: #181e30 !important;
}
.d-flex .flex-1 {
  flex: 1;
}
.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}
.rounded {
  border-radius: 5px !important;
}
.rounded-top {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.rounded-right {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.rounded-md {
  border-radius: 10px !important;
}
.rounded-lg {
  border-radius: 30px !important;
}
.border-primary {
  border-color: #f69da1 !important;
}
.border-dark {
  border-color: #24272c !important;
}
.border-muted {
  border-color: #8492a6 !important;
}
.border-light {
  border-color: #f8f9fc !important;
}
.border-footer {
  border-color: #202942 !important;
}
.border {
  border: 1px solid #e9ecef !important;
}
.border-top {
  border-top: 1px solid #e9ecef !important;
}
.border-right {
  border-right: 1px solid #e9ecef !important;
}
.card {
  border: none;
}
.card .card-body {
  padding: 1.5rem;
}
.card .card-img {
  position: relative;
}
.mt-74 {
  margin-top: 74px;
}
.fw-bold {
  font-weight: 700 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.z-index-1 {
  z-index: 1;
}
.z-index-0 {
  z-index: 0;
}
.ms-n3 {
  margin-left: -16px;
}
.mt-n3 {
  margin-top: -16px;
}
.mt-n4 {
  margin-top: -24px;
}
.mt-n5 {
  margin-top: -48px;
}
.mt-n80 {
  margin-top: -80px;
}
.btn-primary {
  background-color: #f69da1 !important;
  border: 1px solid #f69da1 !important;
  color: #fff !important;
  box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #e04000 !important;
  border-color: #e04000 !important;
  color: #fff !important;
}
.btn-soft-primary {
  background-color: rgba(255, 87, 20, 0.1) !important;
  border: 1px solid rgba(255, 87, 20, 0.1) !important;
  color: #f69da1 !important;
  box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
}
.btn-soft-primary:active,
.btn-soft-primary:focus,
.btn-soft-primary:hover {
  background-color: #f69da1 !important;
  border-color: #f69da1 !important;
  color: #fff !important;
}
.btn-link.primary {
  padding: 0 !important;
  color: #24272c;
  position: relative;
}
.btn-link.primary:active,
.btn-link.primary:focus,
.btn-link.primary:hover,
.btn-link.primary:not(:disabled):not(.disabled):active {
  color: #f69da1 !important;
}
.btn-link.primary:after {
  background-color: #f69da1 !important;
}
.btn-dark {
  background-color: #24272c !important;
  border: 1px solid #24272c !important;
  color: #fff !important;
  box-shadow: 0 3px 5px 0 rgba(36, 39, 44, 0.1);
}
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover {
  background-color: #0d0e10 !important;
  border-color: #0d0e10 !important;
  color: #fff !important;
}
.btn-soft-dark {
  background-color: rgba(36, 39, 44, 0.1) !important;
  border: 1px solid rgba(36, 39, 44, 0.1) !important;
  color: #24272c !important;
  box-shadow: 0 3px 5px 0 rgba(36, 39, 44, 0.1);
}
.btn-soft-dark:active,
.btn-soft-dark:focus,
.btn-soft-dark:hover {
  background-color: #24272c !important;
  border-color: #24272c !important;
  color: #fff !important;
}
.btn-link.dark {
  padding: 0 !important;
  color: #24272c;
  position: relative;
}
.btn-link.dark:active,
.btn-link.dark:focus,
.btn-link.dark:hover,
.btn-link.dark:not(:disabled):not(.disabled):active {
  color: #24272c !important;
}
.btn-link.dark:after {
  background-color: #24272c !important;
}
.btn-muted {
  background-color: #8492a6 !important;
  border: 1px solid #8492a6 !important;
  color: #fff !important;
  box-shadow: 0 3px 5px 0 rgba(132, 146, 166, 0.1);
}
.btn-muted:active,
.btn-muted:focus,
.btn-muted:hover {
  background-color: #68788f !important;
  border-color: #68788f !important;
  color: #fff !important;
}
.btn-soft-muted {
  background-color: rgba(132, 146, 166, 0.1) !important;
  border: 1px solid rgba(132, 146, 166, 0.1) !important;
  color: #8492a6 !important;
  box-shadow: 0 3px 5px 0 rgba(132, 146, 166, 0.1);
}
.btn-soft-muted:active,
.btn-soft-muted:focus,
.btn-soft-muted:hover {
  background-color: #8492a6 !important;
  border-color: #8492a6 !important;
  color: #fff !important;
}
.btn-link.muted {
  padding: 0 !important;
  color: #24272c;
  position: relative;
}
.btn-link.muted:active,
.btn-link.muted:focus,
.btn-link.muted:hover,
.btn-link.muted:not(:disabled):not(.disabled):active {
  color: #8492a6 !important;
}
.btn-link.muted:after {
  background-color: #8492a6 !important;
}
.btn-light {
  background-color: #f8f9fc !important;
  border: 1px solid #f8f9fc !important;
  color: #fff !important;
  box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.1);
}
.btn-light:active,
.btn-light:focus,
.btn-light:hover {
  background-color: #d4daed !important;
  border-color: #d4daed !important;
  color: #fff !important;
}
.btn-soft-light {
  background-color: rgba(248, 249, 252, 0.1) !important;
  border: 1px solid rgba(248, 249, 252, 0.1) !important;
  color: #f8f9fc !important;
  box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.1);
}
.btn-soft-light:active,
.btn-soft-light:focus,
.btn-soft-light:hover {
  background-color: #f8f9fc !important;
  border-color: #f8f9fc !important;
  color: #fff !important;
}
.btn-link.light {
  padding: 0 !important;
  color: #24272c;
  position: relative;
}
.btn-link.light:active,
.btn-link.light:focus,
.btn-link.light:hover,
.btn-link.light:not(:disabled):not(.disabled):active {
  color: #f8f9fc !important;
}
.btn-link.light:after {
  background-color: #f8f9fc !important;
}
.btn-footer {
  background-color: #202942 !important;
  border: 1px solid #202942 !important;
  color: #fff !important;
  box-shadow: 0 3px 5px 0 rgba(32, 41, 66, 0.1);
}
.btn-footer:active,
.btn-footer:focus,
.btn-footer:hover {
  background-color: #0f131f !important;
  border-color: #0f131f !important;
  color: #fff !important;
}
.btn-soft-footer {
  background-color: rgba(32, 41, 66, 0.1) !important;
  border: 1px solid rgba(32, 41, 66, 0.1) !important;
  color: #202942 !important;
  box-shadow: 0 3px 5px 0 rgba(32, 41, 66, 0.1);
}
.btn-soft-footer:active,
.btn-soft-footer:focus,
.btn-soft-footer:hover {
  background-color: #202942 !important;
  border-color: #202942 !important;
  color: #fff !important;
}
.btn-link.footer {
  padding: 0 !important;
  color: #24272c;
  position: relative;
}
.btn-link.footer:active,
.btn-link.footer:focus,
.btn-link.footer:hover,
.btn-link.footer:not(:disabled):not(.disabled):active {
  color: #202942 !important;
}
.btn-link.footer:after {
  background-color: #202942 !important;
}
.btn {
  padding: 8px 20px;
  outline: 0;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  border-radius: 6px;
}
.btn:focus {
  box-shadow: none !important;
}
.btn.btn-sm {
  padding: 7px 16px;
  font-size: 10px;
}
.btn.btn-lg {
  padding: 14px 30px;
  font-size: 16px;
}
.btn.btn-pills {
  border-radius: 30px;
}
.btn.btn-light {
  color: #24272c !important;
  border: 1px solid #dee2e6 !important;
}
.btn.btn-light:active,
.btn.btn-light:focus,
.btn.btn-light:hover {
  background-color: #d4daed !important;
  color: #24272c !important;
}
.btn.btn-soft-light {
  color: rgba(36, 39, 44, 0.5) !important;
  border: 1px solid #dee2e6 !important;
}
.btn.btn-soft-light:active,
.btn.btn-soft-light:focus,
.btn.btn-soft-light:hover {
  color: #24272c !important;
}
.btn.btn-link {
  font-weight: 400;
}
.btn.btn-link:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s ease;
}
.btn.btn-link:hover:after {
  width: 100%;
  right: auto;
  left: 0;
  height: 1px;
}
.btn.btn-icon {
  height: 36px;
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.btn.btn-icon .icons {
  height: 16px;
  width: 16px;
  font-size: 16px;
}
.btn.btn-icon.btn-lg {
  height: 48px;
  width: 48px;
}
.btn.btn-icon.btn-lg .icons {
  height: 20px;
  width: 20px;
  font-size: 20px;
}
.btn.btn-icon.btn-sm {
  height: 30px;
  width: 30px;
}
button:not(:disabled) {
  outline: 0;
}
.shadow {
  box-shadow: 0 0 3px rgba(36, 39, 44, 0.15) !important;
}
.shadow-lg {
  box-shadow: 0 25px 25px rgba(36, 39, 44, 0.05) !important;
}
.shadow-md {
  box-shadow: 0 5px 13px rgba(36, 39, 44, 0.2) !important;
}
.form-control {
  border: 1px solid #dee2e6;
  font-size: 14px;
  line-height: 26px;
  background-color: #fff;
  border-radius: 6px;
}
.form-control:focus {
  border-color: #f69da1;
  box-shadow: none;
}
.form-control[readonly] {
  background-color: #fff;
}
.form-control:disabled {
  background-color: #dee2e6;
}
.form-check-input {
  border: 1px solid #dee2e6;
}
.form-check-input:focus {
  border-color: #f69da1;
  box-shadow: none;
}
.form-check-input.form-check-input:checked {
  background-color: #f69da1;
  border-color: #f69da1;
}
.map {
  line-height: 0;
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.back-to-top {
  position: fixed;
  z-index: 99;
  bottom: 30px;
  right: 30px;
  display: none;
  transition: all 0.5s ease;
  height: 36px;
  width: 36px;
  line-height: 34px;
  text-align: center;
  background: #f69da1;
  color: #fff !important;
}
.back-to-top .icons {
  transition: all 0.5s ease;
}
.back-to-home {
  position: fixed;
  top: 4%;
  right: 2%;
  z-index: 1;
}
.fea {
  stroke-width: 1.8;
}
.fea.icon-sm {
  height: 16px;
  width: 16px;
}
.fea.icon-md {
  height: 35px;
  width: 35px;
}
.fea.icon-lg {
  height: 42px;
  width: 42px;
  stroke-width: 1;
}
[class*=" uil-"]:before,
[class^="uil-"]:before {
  margin: 0;
}
.navbar {
  transition: all 0.5s ease;
  padding: 0;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #24272c;
  font-size: 15px;
  letter-spacing: 0.05rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0 6px;
  transition: all 0.3s ease;
  font-family: "Roboto Slab", serif;
  padding-top: 12px;
  padding-bottom: 12px;
}
.navbar .navbar-nav .nav-item:active .nav-link,
.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #f69da1 !important;
}
.navbar .navbar-brand {
  line-height: 70px;
  font-size: 0;
  padding: 0;
}
.navbar .navbar-brand .logo-dark-mode {
  display: none;
}
.navbar .navbar-brand .logo-light-mode {
  display: inline-block;
}
.navbar.nav-sticky {
  background: #fff;
  margin-top: 0;
  box-shadow: 0 0 3px rgba(36, 39, 44, 0.15);
}
@media (min-width: 992px) {
  .navbar .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
    margin-right: 0;
  }
  .navbar.nav-light .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Roboto Slab", serif;
  }
  .navbar.nav-light .navbar-nav .nav-item:active .nav-link,
  .navbar.nav-light .navbar-nav .nav-item:hover .nav-link {
    color: #fff !important;
  }
  .navbar.nav-light.nav-sticky {
    background: #fff;
  }
  .navbar.nav-light.nav-sticky .nav-item .nav-link {
    color: #24272c;
  }
  .navbar.nav-light.nav-sticky .nav-item:active .nav-link,
  .navbar.nav-light.nav-sticky .nav-item:hover .nav-link {
    color: #f69da1 !important;
  }
}
@media (max-width: 991px) {
  .navbar {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(36, 39, 44, 0.15);
  }
}
.bg-home {
  height: 100vh;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
}
@media (max-width: 767px) {
  .bg-home {
    padding: 150px 0 !important;
    height: auto;
  }
}
.bg-half-180 {
  padding: 180px 0;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
}
@media (max-width: 768px) {
  .bg-half-180 {
    padding: 52px 0;
    height: auto;
  }
}
.bg-half-170 {
  padding: 170px 0;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
}
@media (max-width: 767px) {
  .bg-half-170 {
    padding: 120px 0;
    height: auto;
  }
}
.bg-half-130 {
  padding: 130px 0 104px;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
}
.bg-half-100 {
  padding: 100px 0;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
}
.bg-half {
  padding: 200px 0 100px;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
}
@media (max-width: 768px) {
  .bg-half {
    padding: 160px 0 60px;
  }
}
.pricing.price-primary .btn {
  background-color: rgba(255, 87, 20, 0.1) !important;
  border: 1px solid rgba(255, 87, 20, 0.1) !important;
  color: #f69da1 !important;
  box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
}
.pricing.price-primary .btn:active,
.pricing.price-primary .btn:focus,
.pricing.price-primary .btn:hover {
  background-color: #f69da1 !important;
  border-color: #f69da1 !important;
  color: #fff !important;
}
.pricing.price-dark .btn {
  background-color: rgba(36, 39, 44, 0.1) !important;
  border: 1px solid rgba(36, 39, 44, 0.1) !important;
  color: #24272c !important;
  box-shadow: 0 3px 5px 0 rgba(36, 39, 44, 0.1);
}
.pricing.price-dark .btn:active,
.pricing.price-dark .btn:focus,
.pricing.price-dark .btn:hover {
  background-color: #24272c !important;
  border-color: #24272c !important;
  color: #fff !important;
}
.pricing.price-muted .btn {
  background-color: rgba(132, 146, 166, 0.1) !important;
  border: 1px solid rgba(132, 146, 166, 0.1) !important;
  color: #8492a6 !important;
  box-shadow: 0 3px 5px 0 rgba(132, 146, 166, 0.1);
}
.pricing.price-muted .btn:active,
.pricing.price-muted .btn:focus,
.pricing.price-muted .btn:hover {
  background-color: #8492a6 !important;
  border-color: #8492a6 !important;
  color: #fff !important;
}
.pricing.price-light .btn {
  background-color: rgba(248, 249, 252, 0.1) !important;
  border: 1px solid rgba(248, 249, 252, 0.1) !important;
  color: #f8f9fc !important;
  box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.1);
}
.pricing.price-light .btn:active,
.pricing.price-light .btn:focus,
.pricing.price-light .btn:hover {
  background-color: #f8f9fc !important;
  border-color: #f8f9fc !important;
  color: #fff !important;
}
.pricing.price-footer .btn {
  background-color: rgba(32, 41, 66, 0.1) !important;
  border: 1px solid rgba(32, 41, 66, 0.1) !important;
  color: #202942 !important;
  box-shadow: 0 3px 5px 0 rgba(32, 41, 66, 0.1);
}
.pricing.price-footer .btn:active,
.pricing.price-footer .btn:focus,
.pricing.price-footer .btn:hover {
  background-color: #202942 !important;
  border-color: #202942 !important;
  color: #fff !important;
}
.pricing {
  transition: all 0.5s ease;
}
.pricing:hover {
  box-shadow: 0 5px 13px rgba(36, 39, 44, 0.2) !important;
  transform: translateY(-10px);
}
.error {
  margin: 8px 0;
  display: none;
  color: #ee2f20;
}
footer {
  position: relative;
  color: #adb5bd;
}
footer .footer-py-30 {
  padding: 30px 0;
}
